
{% load static %}
<header class="header-v2 transparent">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="de-flex sm-pt10">
                    <div class="de-flex-col">
                        <div class="de-flex-col">
                            <!-- logo begin -->
                            <div id="logo">
                                <a href="{% url 'web:index' %}">
                                    <img style="height: 37px" alt="" class="logo" src="{% static 'images/tom.svg' %} " />
                                    <img style="height: 37px" alt="" class="logo-2" src="{% static 'images/tom.svg' %} " />
                                </a>
                            </div>
                            <!-- logo close -->
                        </div>
                    </div>
                    <div class="de-flex-col">
                        <div class="menu_side_area">
                            <span id="de-menu-reveal">
                                <span class="lt"></span>
                                <span class="lm"></span>
                                <span class="lb"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
