{% extends 'partials/base.html' %}
{% load static %}
{% block content %}



<section id="section-contact" class="jarallax" style="z-index: 0; background-size: cover;">
                <div class="de-gradient-edge-top" style="background-size: cover;"></div>
                
                <div class="container z-index-1000" style="background-size: cover;">
                    <div class="row" style="background-size: cover;">
                        <div class="col-md-12 text-center wow fadeInUp animated" style="background-size: cover; visibility: visible; animation-name: fadeInUp;">
                            <h2>Contact Me</h2>
                            <div class="space-border" style="background-size: cover;"></div>
                        </div>
                        <div class="col-lg-8 offset-lg-2 wow fadeInUp animated" style="background-size: cover; visibility: visible; animation-name: fadeInUp;">
                            <div class="contact_form_wrapper" style="background-size: cover;">
                                <form name="contactForm" id="contact_form" class="form-border" method="post" action="#">
                                    <div class="row" style="background-size: cover;">
                                        <div class="col-md-4" style="background-size: cover;">
                                            <div class="field-set" style="background-size: cover;">
                                                <input type="text" name="Name" id="name" class="form-control" placeholder="Your Name" required="">
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="background-size: cover;">
                                            <div class="field-set" style="background-size: cover;">
                                                <input type="text" name="Email" id="email" class="form-control" placeholder="Your Email" required="">
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="background-size: cover;">
                                            <div class="field-set" style="background-size: cover;">
                                                <input type="text" name="phone" id="phone" class="form-control" placeholder="Your Phone" required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center" style="background-size: cover;">
                                        <div class="field-set" style="background-size: cover;">
                                            <textarea name="message" id="message" class="form-control" placeholder="Your Message" required=""></textarea>
                                        </div>
                                        <!-- <div class="g-recaptcha" data-sitekey="6LdW03QgAAAAAJko8aINFd1eJUdHlpvT4vNKakj6" data-theme="dark" style="background-size: cover;"><div style="width: 304px; height: 78px;"><div><iframe title="reCAPTCHA" src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LdW03QgAAAAAJko8aINFd1eJUdHlpvT4vNKakj6&amp;co=ZmlsZTo.&amp;hl=en&amp;v=jF-AgDWy8ih0GfLx4Semh9UK&amp;theme=dark&amp;size=normal&amp;cb=ka86tqg51e9y" width="304" height="78" role="presentation" name="a-gbt5kvk7c4cp" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div><iframe style="display: none;"></iframe></div> -->
                                        <div id="submit" class="mt10" style="background-size: cover;">
                                            <input type="submit" id="send_message" value="Send Message" class="btn-main">
                                        </div>

                                        <div id="success_message" class="success" style="background-size: cover;">
                                            Your message has been sent successfully. Refresh this page if you want to send more messages.
                                        </div>
                                        <div id="error_message" class="error" style="background-size: cover;">
                                            Sorry there was an error sending your form.
                                        </div>

                                    </div>
                                </form>
                            </div>
                            <div class="spacer-double" style="background-size: cover;"></div>
                            <div class="row text-center wow fadeInUp animated" style="background-size: cover; visibility: visible; animation-name: fadeInUp;">
                                <div class="col-md-4" style="background-size: cover;">
                                    <div class="wm-1" style="background-size: cover;"></div>
                                    <h6>Email Me</h6>
                                    <p>contact@kyrosnoriaki.com</p>
                                </div>
                                <div class="col-md-4" style="background-size: cover;">
                                    <div class="wm-1" style="background-size: cover;"></div>
                                    <h6>Call Me</h6>
                                    <p>+1 700 333 92 96</p>
                                </div>
                                <div class="col-md-4" style="background-size: cover;">
                                    <div class="wm-1" style="background-size: cover;"></div>
                                    <h6>Address</h6>
                                    <p>Collins Street West, Louisiana, Bayerfurt, USA</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="de-gradient-edge-bottom" style="background-size: cover;"></div>
            <div id="jarallax-container-4" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100; clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%); background-size: cover;"><img src="{% static 'images/background/5.jpg' %}" class="jarallax-img" alt="" style="object-fit: cover; object-position: 50% 50%; max-width: none; position: absolute; top: 0px; left: 0px; width: 1360px; height: 728.086px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: -52.043px; transform: translate3d(0px, -250.996px, 0px);"></div></section>

{% endblock%}