{% extends 'partials/base.html' %}
{% load static %}
{% block content %}


<section id="section-portfolio" class="no-bottom" >
    <div class="container relative">
        <div class="row">
            <div class="col-md-12 text-center wow fadeInUp">
                <h2>Gallery</h2>
                
                <div class="space-border"></div>
            </div>
        </div>
        <div id="gallery" class="row sequence">
          
         
            {% for item in image %}

            <div class="col-md-4 col-lg-4 item" data-wow-delay="0.2s" style="background-size: cover; position: absolute; left: 380px; top: 0px;">
               
                <div class=" wow fadeInUp animated" data-url="single-project.html" style="background-size: cover; visibility: visible; animation-name: fadeInUp;margin: auto;">
                    <div class="card-image-1 mod-d" data-tilt="" style="background-size: cover;">
                        <div class="d-text" style="background-size: cover;">
                            
                            
                        </div>
                        <!-- <a href="{% url 'web:content' item.id %}"class="stretched-link"></a> -->
                        <img style="height:238px ; width:356px ;" src="{{item.photo.url}}" class="img-fluid" alt="">
                        <h3 class="text-center" style="padding: 4px;">{{ item.content }}</h3>
                    </div>
                </div>
            </div>
            {% endfor %}

     

            
        </div>
    </div>
</section>


{% endblock %}