{% extends 'partials/base.html' %}
{% load static %}
{% block content %}



<section aria-label="section" class="jarallax no-top-md no-bottom" style="z-index: 0; background-size: cover;">

    <div class="container" style="background-size: cover;">
        <div class="row align-items-center" style="background-size: cover;">
            <div class="col-md-5" style="background-size: cover;">
                <h5 class="s1 wow fadeInUp animated" data-wow-delay=".4s"
                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Welcome to My Website
                </h5>
                <div class="spacer-10" style="background-size: cover;"></div>
                <div class="h1 text-white wow fadeInUp animated" data-wow-delay=".6s"
                    style="background-size: cover; visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                    Hi, I'm <span class="id-color">Kyros Noriaki</span><br>a
                    <div class="typed-strings" style="background-size: cover; display: none;">
                        <p>Freelancer.</p>
                        <p>Programmer.</p>
                        <p>Photographer.</p>
                    </div>
                    <div class="typed" style="background-size: cover;">Freelanc</div><span class="typed-cursor">|</span>
                </div>
                <p class="wow fadeInUp animated" data-wow-delay=".6s"
                    style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                    I am a website designer from Lousiana, with a strong focus in UI/UX design. I love to get new
                    experiences and always learn from my surroundings.I looking forward to any opportunities and
                    challenges.
                </p>
                <div class="spacer-10" style="background-size: cover;"></div>
                <a class="btn-main wow fadeInUp animated" data-wow-delay=".6s" href="#section-resume"
                    style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">My Resume</a>
            </div>
            <div class="col-md-6 offset-md-1 jarallax" style="background-size: cover;">
                <img src="{% static 'images/misc/1.png' %} " class="img-fluid wow fadeInUp animated"
                    data-wow-delay=".8s" alt=""
                    style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
            </div>
        </div>
    </div>
    <a href="#section-about" class="mouse-icon-click scroll-to wow fadeInUp animated" data-wow-delay=".8s"
        style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
        <span class="mouse fadeScroll relative" data-scroll-speed="10" style="transform: translateY(0px); opacity: 1;">
            <span class="scroll"></span>
        </span>
    </a>
    <div class="de-gradient-edge-bottom" style="background-size: cover;"></div>
    <div id="jarallax-container-0"
        style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100; clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%); background-size: cover;">
        <img src="{% static 'images/background/6.jpg' %}" class="jarallax-img" alt=""
            style="object-fit: cover; object-position: 50% 50%; max-width: none; position: absolute; top: 0px; left: 0px; width: 1360px; height: 639.594px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: -7.79688px; transform: translate3d(0px, 7.79687px, 0px);">
    </div>
</section>
<section id="section-about" class="no-bottom" style="background-size: cover;">
    <div class="container relative" style="background-size: cover;">
        <div class="row align-items-center" style="background-size: cover;">
            <div class="col-md-6 wow fadeInUp animated"
                style="background-size: cover; visibility: visible; animation-name: fadeInUp;">
                <img src="{% static 'images/misc/4.png' %} " class="img-fluid" alt="">
            </div>
            <div class="col-md-6 wow fadeInUp animated" data-wow-delay=".2s"
                style="background-size: cover; visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <h2>About Me</h2>
                <p>In quis amet ex veniam in irure est culpa veniam velit fugiat cupidatat duis anim commodo elit in
                    occaecat cupidatat eu et sunt commodo voluptate ullamco magna nulla amet. Lorem ipsum officia veniam
                    enim sit culpa velit proident enim ea officia aute non in mollit culpa anim magna sit veniam irure
                    eiusmod.</p>




            </div>
        </div>
    </div>
</section>

<section id="section-my-quote" aria-label="section" class="jarallax no-top no-bottom"
    style="z-index: 0; background-size: cover;">
    <div class="de-gradient-edge-top" style="background-size: cover;"></div>

    <div class="v-center" style="background-size: cover;">
        <div class="container" style="background-size: cover;">
            <div class="row align-items-center" style="background-size: cover;">
                <div class="col-md-10 offset-md-1" style="background-size: cover;">
                    <blockquote class="q-big wow fadeIn animated" data-wow-duration="3s"
                        style="visibility: visible; animation-duration: 3s; animation-name: fadeIn;">
                        <i class="d-big icon_quotations"></i>
                        Do more than is required. What is the distance between someone who achieves their goals
                        consistently and those who spend their lives and careers merely following? The extra mile.
                        <span class="d-quote-by">Kyros Noriaki</span>
                    </blockquote>
                    <div class="spacer-double" style="background-size: cover;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="de-gradient-edge-bottom" style="background-size: cover;"></div>
    <div id="jarallax-container-2"
        style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100; clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%); background-size: cover;">
        <img src="{% static 'images/background/2.jpg' %}" class="jarallax-img" alt=""
            style="object-fit: cover; object-position: 50% 50%; max-width: none; position: absolute; top: 0px; left: 0px; width: 1360px; height: 624px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: 0px; transform: translate3d(0px, -242.609px, 0px);">
    </div>
</section>




<section id="section-blog" class="no-bottom" style="background-size: cover;">
    <div class="container relative" style="background-size: cover;">
        <div class="row" style="background-size: cover;">
            <div class="col-md-12 text-center wow fadeInUp animated"
                style="background-size: cover; visibility: visible; animation-name: fadeInUp;">
                <h2>Updates</h2>
                <div class="space-border" style="background-size: cover;"></div>
            </div>
        </div>
        <div id="carousel-blog" class="owl-carousel wow fadeInUp owl-loaded owl-drag animated"
            style="background-size: cover; visibility: visible; animation-name: fadeInUp;">






            <div class="owl-stage-outer">
                <div class="owl-stage"
                    style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2282px;">
                    <div class="owl-item active" style="width: 355.333px; margin-right: 25px;">
                        <a href="contentpage">
                        <div class="bloglist item" style="background-size: cover;">
                            <div class="post-content" style="background-size: cover;">

                                <div class="post-image" style="background-size: cover;">
                                    <a href="contentpage" data-url="single-blog.html"
                                        style="background-size: cover;"><img alt=""
                                            src="{% static 'images/blog/1.jpg' %}" class="lazy">
                                    </a>
                                </div>
                                <div class="post-text" style="background-size: cover;">
                                    <h4 class="de_modal" data-url="single-blog.html">How to Make Better User Interface
                                    </h4>
                                    <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim
                                        reprehenderit cupidatat labore ad laborum consectetur consequat...</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>
                    <div class="owl-item active" style="width: 355.333px; margin-right: 25px;">
                        <div class="bloglist item" style="background-size: cover;">
                            <div class="post-content" style="background-size: cover;">
                                <div class="post-image" style="background-size: cover;">
                                    <div class="de_modal" data-url="single-blog.html" style="background-size: cover;">
                                        <img alt="" src="{% static 'images/blog/2.jpg' %}" class="lazy"></div>
                                </div>
                                <div class="post-text" style="background-size: cover;">
                                    <h4 class="de_modal" data-url="single-blog.html">10 Web Design Tips From Experts
                                    </h4>
                                    <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim
                                        reprehenderit cupidatat labore ad laborum consectetur consequat...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 355.333px; margin-right: 25px;">
                        <div class="bloglist item" style="background-size: cover;">
                            <div class="post-content" style="background-size: cover;">
                                <div class="post-image" style="background-size: cover;">
                                    <div class="de_modal" data-url="single-blog.html" style="background-size: cover;">
                                        <img alt="" src="{% static 'images/blog/3.jpg' %}" class="lazy"></div>
                                </div>
                                <div class="post-text" style="background-size: cover;">
                                    <h4 class="de_modal" data-url="single-blog.html">The Importance of Web Design</h4>
                                    <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim
                                        reprehenderit cupidatat labore ad laborum consectetur consequat...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>


        </div>
    </div>
    <div id="submit" class="mt10 text-center" style="background-size: cover;padding: 17px;">
       <a href="{% url 'web:updates' %}"><input type="submit" id="View More" value="View More" class="btn-main"></a> 
    </div>
</section>

</div>
<!-- content close -->
<a href="#" id="back-to-top" class="show hide"></a>

</div>



</body>



{% endblock %}