{% extends 'partials/base.html' %}
{% load static %}
{% block content %}


<section id="section-blog" class="no-bottom">
    <div class="container relative">
        <div class="row">
            <div class="col-md-12 text-center wow fadeInUp">
                <h2>Updates</h2>
                <div class="space-border"></div>
            </div>
        </div>
        <div id="carousel-blog" class="owl-carousel wow fadeInUp">
            {% for item in datas %}

            <div class="bloglist item">
                <a href="{% url 'web:updates-contentpage' item.id %}"class="stretched-link"></a>
                <div class="post-content">
                    <div class="post-image">
                        <div class="de_modal" data-url="single-blog.html"><img style="height:314px;width: 355px;" src="{{item.images.url}}" class="lazy"></div>
                    </div>
                    <div class="post-text">
                        <h4 class="de_modal" data-url="single-blog.html">{{item.heading}}</h4>
                        <p>{{item.description|safe}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
</section>



{% endblock %}