{% extends 'partials/base.html' %}
{% load static %}
{% block content %}


<section id="section-blog" class="no-bottom">
    <div class="container relative">
        <div class="row">
            <div class="col-md-12 text-center wow fadeInUp">
                <h2>Updates</h2>
                <div class="space-border"></div>
            </div>
        </div>
        <div id="carousel-blog" class="owl-carousel wow fadeInUp">
           <a href="contentpage"> <div class="bloglist item">
                <div class="post-content">
                    <div class="post-image">
                        <div class="de_modal" data-url="single-blog.html"><img alt="" src="{% static 'images/blog/1.jpg' %}" class="lazy"></div>
                    </div>
                    <div class="post-text">
                        <h4 class="de_modal" data-url="single-blog.html">How to Make Better User Interface</h4>
                        <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit cupidatat labore ad laborum consectetur consequat...</p>
                    </div>
                </div>
            </div></a>
            <div class="bloglist item">
                <div class="post-content">
                    <div class="post-image">
                        <div class="de_modal" data-url="single-blog.html"><img alt="" src="{% static 'images/blog/2.jpg' %}" class="lazy"></div>
                    </div>
                    <div class="post-text">
                        <h4 class="de_modal" data-url="single-blog.html">10 Web Design Tips From Experts</h4>
                        <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit cupidatat labore ad laborum consectetur consequat...</p>
                    </div>
                </div>
            </div>
            <div class="bloglist item">
                <div class="post-content">
                    <div class="post-image">
                        <div class="de_modal" data-url="single-blog.html"><img alt="" src="{% static 'images/blog/3.jpg' %}" class="lazy"></div>
                    </div>
                    <div class="post-text">
                        <h4 class="de_modal" data-url="single-blog.html">The Importance of Web Design</h4>
                        <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit cupidatat labore ad laborum consectetur consequat...</p>
                    </div>
                </div>
            </div>
            <div class="bloglist item">
                <div class="post-content">
                    <div class="post-image">
                        <div class="de_modal" data-url="single-blog.html"><img alt="" src="{% static 'images/blog/4.jpg' %}" class="lazy"></div>
                    </div>
                    <div class="post-text">
                        <h4 class="de_modal" data-url="single-blog.html">10 Web Design Tips From Experts</h4>
                        <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit cupidatat labore ad laborum consectetur consequat...</p>
                    </div>
                </div>
            </div>
            <div class="bloglist item">
                <div class="post-content">
                    <div class="post-image">
                        <div class="de_modal" data-url="single-blog.html"><img alt="" src="{% static 'images/blog/5.jpg' %}" class="lazy"></div>
                    </div>
                    <div class="post-text">
                        <h4 class="de_modal" data-url="single-blog.html">The Importance of Web Design</h4>
                        <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit cupidatat labore ad laborum consectetur consequat...</p>
                    </div>
                </div>
            </div>
            <div class="bloglist item">
                <div class="post-content">
                    <div class="post-image">
                        <div class="de_modal" data-url="single-blog.html"><img alt="" src="{% static 'images/blog/6.jpg' %}" class="lazy"></div>
                    </div>
                    <div class="post-text">
                        <h4 class="de_modal" data-url="single-blog.html">Tips for Healthy Teeth<span></span></h4>
                        <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit cupidatat labore ad laborum consectetur consequat...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}